---
import MainSection from "@/components/MainSection.astro";
import Layout from "@/layouts/Layout.astro";
import TopProjects from "@/components/TopProjects.astro";
import JobsProjects from "@/components/JobsProjects.astro";
import JobTimeline from "@/components/JobTimeline.astro";
import StudyTimeLine from "@/components/StudyTimeLine.astro";
---

<Layout title="Ángel García">
  <main class="container py-12 flex flex-col space-y-[120px] gap-12 mb-12">
    <MainSection />
    <TopProjects />

    <JobTimeline />
    <JobsProjects />
    <StudyTimeLine />
  </main>
</Layout>
