---
interface Props {
  href: string;
  target?: string;
  class?: string;
}

const { href, target, class: classname } = Astro.props;
---

<a
  href={href}
  target={target ?? "_self"}
  class={`px-3 pr-4 py-2 hover:text-primary-400 transition-all duration-300 flex flex-row gap-2 ${classname}`}
>
  <slot name="icon" />
  <slot />
</a>
