---
import HomeIcon from "../icons/HomeIcon.astro";
import TieIcon from "../icons/TieIcon.astro";
import BriefcaseIcon from "../icons/BriefcaseIcon.astro";
import SchoolIcon from "../icons/SchoolIcon.astro";

const iconColor =
  "stroke-gray-600 hover:stroke-gray-200 transition-all duration-300";
---

<div
  id="form-bar"
  class="absolute bottom-6 left-1/2 -translate-x-2/4 z-50 transition-all duration-700"
>
  <div
    class="flex gap-2 flex-row bg-black px-4 py-2 rounded-full transition-all duration-700"
  >
    <button class="transition-all duration-300 rounded-full px-2 py-2">
      <HomeIcon className={iconColor} />
    </button>

    <button class="transition-all duration-300 rounded-full px-2 py-2">
      <BriefcaseIcon className={iconColor} />
    </button>

    <button class="transition-all duration-300 rounded-full px-2 py-2">
      <TieIcon className={iconColor} />
    </button>

    <button class="transition-all duration-300 rounded-full px-2 py-2">
      <SchoolIcon className={iconColor} />
    </button>
  </div>
</div>
